---
import {Image} from 'astro:assets';

import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Button from '../ui/Button.astro';

export interface Props {
  title: string,
  subtitle?: any,

  items: Array<{
    name: string,
    description: string,
    href: string,
    image: {
      src: Promise<any>,
      alt: string,
    },
    meetingTimes :Array<{
      day: string,
      time: string,
    }>,
  }>

  id: string,
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  items = [],

  id,
} = Astro.props;
---

<WidgetWrapper id={id}>
  <div class="p=4">
    <h2 class="text-4xl md:text-5xl font-bold font-heading tracking-tighter text-center">{title}</h2>
    <div class="text-center my-4" set:html={subtitle}></div>

    <div class="flex flex-col lg:justify-between lg:flex-row mb-8 gap-8">
      {
        items.map(({ image, name, description, href, meetingTimes}) => (
          <div class="flex flex-col my-4 basis-1/3">
            <Image
              class="mx-auto w-full rounded-lg bg-gray-500 shadow h-64 object-cover"
              src={image.src}
              alt={image.alt}
              widths={[200, 400, 800]}
            />
            <h3 class="text-xl font-bold font-heading pb-2 py-7">{name}</h3>
            <p class="">{description}</p>

            <h3 class="text-large font-bold my-4">Meeting Times 🕒</h3>

            {
              meetingTimes.map(({day, time}) => (
                <p>{day}: {time}</p>
              ))
            }

            <h3 class="text-large font-bold my-4">Meeting Location</h3>
            <p>College of Engineering Makerspace</p>
            <p>Bolz Hall</p>

            <Button variant="primary" href={href} class="mt-8">
              Learn More
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</WidgetWrapper>
