---
import { APP_BLOG } from 'astrowind:config';

import Grid from '~/components/blog/Grid.astro';

import Headline from '../ui/Headline.astro';
import Image from '~/components/common/Image.astro';

import { getBlogPermalink } from '~/utils/permalinks';
import { findLatestPosts } from '~/utils/blog';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Widget } from '~/types';
import Button from '../ui/Button.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),

  items = [],

  tagline,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={classes?.container as string} bg={bg}>
  <div class="p=4">
    <h2 class="text-4xl md:text-5xl font-bold tracking-tighter text-center font-heading">{title}</h2>
    <p class="text-lg dark mt-8">{subtitle}</p>

    <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
      {
        items.map(({ image, name, description, href }) => (
          <div class="flex flex-col my-4 lg:mx-8">
            <Image
              class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg mb-4 mt-8"
              width="auto"
              height="960px"
              widths={[400, 768]}
              sizes="(max-width: 768px) 100vw, 432px"
              layout="responsive"
              {...image}
            />
            <h3 class="text-xl font-bold">{name}</h3>
            <p class="mt-4">{description}</p>

            <Button variant="primary" href={href} class="mt-8">
              Learn More
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</WidgetWrapper>
