---
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";
import SocialLink from "./SocialLink.astro";

export interface Props {
  linkedin?: string;
  email?: string;
  facebook?: string;
  youtube?: string;
  instagram?: string;
  classes?: string[] | string;
  useButtonStyle?: boolean;
  vertical?: boolean;
}

const { linkedin, email, facebook, youtube, instagram, classes, useButtonStyle, vertical } = Astro.props;
---

<div
  class={twMerge(
    "font-normal flex flex-row flex-wrap gap-x-3 mt-2 text-muted",
    useButtonStyle && "gap-y-3",
    classes,
    vertical && "flex-col"
  )}
>
  {
    email &&
      <SocialLink icon="tabler:mail" href={"mailto: " + email} label={email} useButtonStyle={useButtonStyle} />
  }

  {
    linkedin &&
      <SocialLink icon="tabler:brand-linkedin" href={linkedin} label="LinkedIn" useButtonStyle={useButtonStyle} />
  }

  {
    instagram &&
      <SocialLink icon="tabler:brand-instagram" href={instagram} label="Instagram" useButtonStyle={useButtonStyle} />
  }

  {
    facebook &&
      <SocialLink icon="tabler:brand-facebook" href={facebook} label="Facebook" useButtonStyle={useButtonStyle} />
  }

  {
    youtube &&
      <SocialLink icon="tabler:brand-youtube" href={youtube} label="YouTube" useButtonStyle={useButtonStyle} />
  }
</div>
