---
import { Icon } from "astro-icon/components";

const {
  linkedins = [],
  emails = [],
  facebooks = [],
  youtubes = [],
  instagrams = [],
  classes = [],
} = Astro.props;
---

<div
  class="font-normal flex flex-row flex-wrap gap-x-3 my-2 text-muted"
  class:list={classes}
>
  {
    instagrams.map((instagram) => (
      <a class="flex flex-row gap-1" href={instagram}>
        <Icon name="tabler:brand-instagram" class="w-8 h-8" />
        <p>Instagram</p>
      </a>
    ))
  }

  {
    linkedins.map((linkedin) => (
      <a class="flex flex-row gap-1" href={linkedin}>
        <Icon name="tabler:brand-linkedin" class="w-8 h-8" />
        <p>LinkedIn</p>
      </a>
    ))
  }

  {
    emails.map((email) => (
      <a class="flex flex-row gap-1" href={"mailto:" + email}>
        <Icon name="tabler:mail" class="w-8 h-8" />
        <p>{email}</p>
      </a>
    ))
  }

  {
    facebooks.map((facebook) => (
      <a class="flex flex-row gap-1" href={facebook}>
        <Icon name="tabler:brand-facebook" class="w-8 h-8" />
        <p>Facebook</p>
      </a>
    ))
  }

  {
    youtubes.map((youtube) => (
      <a class="flex flex-row gap-1" href={youtube}>
        <Icon name="tabler:brand-youtube" class="w-8 h-8" />
        <p>YouTube</p>
      </a>
    ))
  }
</div>
